<div class="uk-container uk-container-small uk-margin-auto uk-margin-top">
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Home</h3>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>
