<% app = params[:id] %>

<div class="uk-container uk-container-small uk-margin-auto uk-margin-top">
  <div class="uk-card uk-card-default uk-card-body">
    <ul class="uk-breadcrumb">
      <li>
        <span class="uk-margin-small-right" uk-icon="users"></span>
        <select class="uk-select uk-width-small">
          <option>Vets API</option>
          <option>Release Tools</option>
          <option>Design System</option>
        </select>
      </li>
      <li>
        <select class="uk-select uk-width-small">
          <option><%= app %></option>
          <option>pghero</option>
        </select>
      </li>
      <li>
        <select class="uk-select uk-width-small">
          <option>Development</option>
          <option>Staging</option>
          <option>Production</option>
        </select>
      </li>
    </ul>

    <hr>

    <%= render 'shared/app_navbar', app: app %>

    <hr>

    <div class="uk-text-meta uk-text-small">Find me in app/views/pages/overview.html.erb</div>
  </div>
</div>
